/* project-specific CSS belongs here */

.borders {
  fill : none;
  stroke : white;
  stroke-width : 0.5;
}

.countries {
  /*fill : var(--grey-9);*/
}

.chart-container .tab-bar .tab {
  flex-basis: auto;  /* non-uniform tab widths */
}

.tooltip {
  font-size: 14px;
  padding: 2px 5px;
}

.legend-label {
  position: absolute;
  top: 420px;
  left: 305px;
}

.note {
  float: right;
}
