/* project-specific CSS belongs here */

.borders {
  fill : none;
  stroke : white;
  stroke-width : 0.5;
}

.countries {
  /*fill : var(--grey-9);*/
}

.tooltip {
  font-size: 14px;
  padding: 2px 5px;
}
